.popup__image-container {
    display: grid;
    grid-template-columns: 32px max-content 32px;
    grid-template-areas:
        ". . close"
        ". image ."
        ". figcaption .";
    gap: 8px;
}

@media screen and (min-width: 320px) and (max-width: 767px) {
    .popup__image-container {
        grid-template-columns: max-content;
        gap: 0;
        grid-template-areas:
        "close"
        "image"
        "figcaption";
    }
}