.profile__name {
    margin: 0;
    font-weight: 500;
    font-size: 42px;
    line-height: 48px;
    color: #FFF;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
    max-width: 16ch;
}

@media screen and (min-width: 320px) and (max-width: 767px) {
    .profile__name {
        font-size: 27px;
        line-height: 100%;
        max-width: 13ch;
    }
}