.profile__avatar-icon {
    position: absolute;
    background-color: rgba(0,0,0,.8);
    background-image: url(../../../../images/profile/avatar-vector.svg);
    background-position: 50%;
    background-repeat: no-repeat;
    background-size: 26px;
    height: 125px;
    width: 125px;
    opacity: 0;
    z-index: 3;
}

.profile__avatar-icon:hover {
    cursor: pointer;
    opacity: 1;
}