.profile__profession {
    margin: 0;
    font-weight: 400;
    font-size: 18px;
    line-height: 1;
    color: #FFFFFF;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
}

@media screen and (min-width: 320px) and (max-width: 767px) {
    .profile__profession {
        font-size: 14px;
        width: 95%;
        text-align: center;
    }
}