.popup {
    display: flex;
    flex-direction: column;
    position: fixed;
    background-color: rgba(0, 0, 0, .5);
    justify-content: center;
    align-items: center;
    inset: 0 0 0 0;
    visibility: hidden;
    opacity: 0;
    z-index: -1;
    transition: opacity 1s, visibility 0s 1s, z-index 0s 1s;
}