.popup__close {
    width: 32px;
    height: 32px;
    border: none;
    padding: 0;
    cursor: pointer;
    background-image: url(../../../images/popup/close-icon.svg);
    background-color: transparent;
    background-size: contain;
    background-position: center center;
    grid-area: close;
}

@media screen and (min-width: 320px) and (max-width: 767px) {
    .popup__close {
        width: 20px;
        height: 20px;
        justify-self: end;
    }
}

.popup__close:hover {
    opacity: .6;
}