.popup__container {
    display: grid;
    grid-template-columns: 32px 430px 32px;
    grid-template-areas:
        ". . close"
        ". form .";
    gap: 8px;
}

@media screen and (min-width: 320px) and (max-width: 767px) {
    .popup__container {
        grid-template-columns: 282px;
        grid-template-areas:
        "close"
        "form";
        gap: 16px;
    }
}